<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"
    />
    <link rel="stylesheet" href="assets/css/styles.css" />
  </head>

  <body
    class="demo d-flex justify-content-md-center justify-content-around align-items-center flex-column flex-md-row"
  >
    <span>It all begins here!</span>
    <span class="d-block d-md-none">I display on tablets!</span>
    <script src="assets/js/index.js"></script>
  </body>
</html>
