/// Import a font.
///
/// @group Font Helpers
/// @author https://gist.github.com/jonathantneal
///
/// @param {String} $name - Name of the font.
/// @param {String} $path - The path to locate the font.
/// @param {Number} $weight - The weight of the font.
/// @param {String} $style - The style of the font.
///
/// @example scss - Import Roboto-Regular font with 400 weight, normal style and .ttf extension
///   @include font('Roboto', '../assets/fonts/Roboto/Roboto-Regular', 400, 'normal', 'ttf');
///
@mixin font(
  $name,
  $path,
  $weight: null,
  $style: null,
  $exts: eot woff2 woff ttf svg
) {
  $src: null;

  $extmods: (
    eot: '?',
    svg: '#' + str-replace($name, ' ', '_'),
  );

  $formats: (
    otf: 'opentype',
    ttf: 'truetype',
  );

  @each $ext in $exts {
    $extmod: if(
      map-has-key($extmods, $ext),
      $ext + map-get($extmods, $ext),
      $ext
    );
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append(
      $src,
      url(quote($path + '.' + $extmod)) format(quote($format)),
      comma
    );
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}
