@import './vendors/index.scss';
@import './abstracts/index.scss';
@import './base/index.scss';
@import './layout/index.scss';
@import './components/index.scss';
@import './themes/index.scss';
@import './pages/index.scss';

body,
html {
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

span {
  font-family: Roboto-Bold, Arial, Helvetica, sans-serif;
}

.mediaQueryExample {
  display: none;

  @include max('tablet') {
    display: block;
  }
}
